@import url(../../fonts/GE_Dinar_One_Medium/stylesheet.css);

.CodeMirror {
  min-height: 70vh;
  font-family: "GE Dinar One Medium", monospace;
  border: 0.5em solid black;
  margin-bottom: 0.5em;
  font-weight: 300;
  font-size: 1.5em;
}
