@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../fonts/Noto_Kufi_Arabic/NotoKufiArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  margin: 0;
  height: 100vh;
}

article > .editor-container, .CodeMirror {
  width: 100%;
  font-family: "Noto Kufi Arabic", monospace;
}

header {
  direction: rtl;
}
