@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../fonts/Noto_Kufi_Arabic/NotoKufiArabic-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Thabit";
  src: url("../fonts/Thabit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kawakab";
  src: url("../fonts/kawkab-mono-0.501/KawkabMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header {
  direction: rtl;
}

article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

article p {
  text-align: center;
  font-size: small;
  opacity: 0.4;
}

article > .editor-container { position: relative; }
@media screen and (min-width: 700px) {
  article > .editor-container {
    margin: 2em;
    box-shadow: 0px -2px 20px 0 grey;
    border: 1px aquamarine;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
  }
}

article > .editor-container > div {
  position: absolute !important;
  inset: 0;
}

article > .editor-container.loading::before {
  content: "جاري التحميل...";
  position: absolute;
  text-align: center;
  inset: 0;
}

.cm-editor {
  direction: rtl;
}

.cm-editor,
.cm-scroller,
.CodeMirror,
article > .editor-container {
  font-family: "Kawakab", "Noto Kufi Arabic", monospace !important;
}

.cm-scroller {
  line-height: normal !important;
}
