@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("../fonts/Noto_Kufi_Arabic/NotoKufiArabic-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Thabit";
  src: url("../fonts/Thabit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kawakab";
  src: url("../fonts/kawkab-mono-0.501/KawkabMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header { direction: rtl }
.editors { flex-grow: 1; }

#error {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(92 28 28);
  mix-blend-mode: hard-light;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error p {
  color: white;
  font-family: monospace;
  font-size: 1.5em;
}

#error button {
  margin-top: 1em;
  padding: 0.5em 1em;
}

/* ---------- code editors ---------- */
/* ---------- .....👇..... ---------- */

.editors section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.editors .description {
  -webkit-margin-collapse: collapse;
  text-align: center;
  font-size: small;
  opacity: 0.4;
}

.editor-container > div {
  position: absolute !important;
  inset: 0; 
}

.editor-container {
  background-color: #e8e8e8;
  background-image: radial-gradient(#b5b6c1 1.1px, #e8e8e8 1.1px);
  background-size: 22px 22px;
  position: relative;
}

@media screen and (min-width: 700px) {
  .editor-container {
    margin: 2em;
    margin-top: 0;
    /* box-shadow: 0 0 0 2px aquamarine, 0px -2px 20px 0 grey; */
    box-shadow: 0px -2px 20px 0 #afafaf;
    border-radius: 1em;
    overflow: hidden;
  }
}

.editor-container.loading::before {
  content: "جاري التحميل...";
  position: absolute;
  text-align: center;
  inset: 0;
}

.cm-editor {
  direction: rtl;
}

.cm-editor,
.cm-scroller,
.CodeMirror,
.editor-container {
  font-family: "Kawakab", "Noto Kufi Arabic", monospace !important;
}

.cm-scroller {
  line-height: normal !important;
}
